

.cork-main {
  width: 100%;
  min-height: 100vh;



}

.corkboard-index {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("http://res.cloudinary.com/de79besd8/image/upload/v1480453276/trekko/fzm-corkboard.texture-01.jpg");
  background-size: cover;
  background-position: center 85%;
  overflow: auto;
  min-height: 100vh;
}

.corkboard-items {
  width: 100%;
  height: 100%;
}

.corkboard-items ul {
  width: 100%;
  height: 100%;
}

.corkboard-items ul li {
  display: inline-block;
  width: 200px;
  height: 220px;
  background-image: url('http://res.cloudinary.com/de79besd8/image/upload/c_scale,w_200/v1484171224/trekko/polaroid-frame.jpg');
  background-size: cover;
  margin: 5px;
}

.corkboard-items ul li a div {
  width: 100%;
  height: 100%;
}
