
.itinerary-main {
  padding: 20px;

}

.destination-dropdown {
    height: 40px;
    font-size: 20px;
    padding-left: 15px;
    min-width: 150px;
}

.destination-dropdown option {
  padding-left: 15px;
}
