
.splash-content {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
  background-image: url('http://res.cloudinary.com/de79besd8/image/upload/v1484110628/trekko/splash2.jpg');
  background-size: cover;
  background-position: center 50%;
}

#pac-input {
  width: 400px;
  height: 30px;
  font-size: 20px;
  margin: auto;
  margin-top: 200px;
}
